<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iloveleiyuxin.websitmanager.mapper.SysGeliMapper">
    <resultMap id="geliResultMap" type="com.iloveleiyuxin.websitmanager.vo.GeLiVo">
        <result column="geliUser" property="geliuser"/>
        <result column="userName" property="username"/>
        <result column="geliDescription" property="gelidescription"/>
        <result column="geliType" property="gelitype"/>
        <result column="geliReason" property="gelireason"/>
        <result column="geliDateCount" property="gelidatecount"/>
        <result column="beginDate" property="begindate"/>
        <result column="endDate" property="enddate"/>
        <result column="rnaTest" property="rnatest"/>
        <result column="lastPlace" property="lastplace"/>
    </resultMap>

    <select id="selectVo" resultMap="geliResultMap">
        SELECT
            u.id AS geliUser,u.userName,gl.geliDescription,gl.geliType,gl.geliReason,gl.geliDateCount,gl.beginDate,gl.endDate,gl.rnaTest,r.region_name AS lastPlace
        FROM sys_geli gl LEFT JOIN cli_user u ON gl.geliUser=u.id
            LEFT JOIN sys_region r ON gl.lastPlace = r.region_code ${ew.customSqlSegment}
    </select>

</mapper>
