<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iloveleiyuxin.websitmanager.mapper.SysServiceMapper">
    <resultMap id="SysServiceResultMap" type="com.iloveleiyuxin.websitmanager.vo.ServiceVo">
        <id column="id" property="id"/>
        <result column="serviceUserId" property="serviceuserid"/>
        <result column="serviceUser" property="serviceUser"/>
        <result column="serviceType" property="servicetype"/>
        <result column="serviceDescription" property="servicedescription"/>
        <result column="createDate" property="createdate"/>
        <result column="endDate" property="enddate"/>
        <result column="serviceState" property="servicestate"/>
        <result column="serviceScore" property="servicescore"/>
    </resultMap>

    <select id="mapSelectVo" resultMap="SysServiceResultMap" parameterType="Map">
        SELECT serv.id AS id, serv.serviceUser AS serviceUserId, cu.userName AS serviceUser,
               (CASE WHEN serv.serviceType = 1 THEN '公共服务' WHEN serv.serviceType = 2 THEN '紧急救助' WHEN serv.serviceType = 3 THEN '跑腿代买'
                     WHEN serv.serviceType = 10 THEN '土木维修' WHEN serv.serviceType = 11 THEN '水电维修' WHEN serv.serviceType = 12 THEN '计算机维修'
                     WHEN serv.serviceType = 13 THEN '网络维修' ELSE '其他' END) AS serviceType,
               serv.serviceDescription,serv.createDate,serv.endDate,
               (CASE WHEN serv.serviceState = 0 THEN '未处理' WHEN serv.serviceState = 1 THEN '处理中' WHEN serv.serviceState = 2 THEN '待评价' ELSE '评价完成') AS serviceState,
               serv.serviceScore
            FROM sys_service serv LEFT JOIN cli_user cu ON serv.serviceUser=cu.id
    </select>

</mapper>
